.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: var(--sidebar-bg-dark);
  padding: 6px 14px;
  z-index: 1000;
  transition: all 0.5s ease;
  border-right: 2px solid var(--sidebar-bg-light);
  border-radius: 14px;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
  display: none;
}
.sidebar .logo-details .logo_name {
  color: var(--sidebar-highlight);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar .logo-details .icon,
.sidebar .logo-details .logo_name {
  opacity: 0;
  display: none;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
  display: block;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  color: var(--sidebar-highlight);
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: var(--sidebar-highlight);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--sidebar-highlight);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: var(--sidebar-highlight);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--sidebar-bg-light);
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: var(--sidebar-bg-light);
  color: var(--sidebar-highlight);
}
.sidebar.open .bx-search:hover {
  background: var(--sidebar-bg-light);
  color: var(--sidebar-highlight);
}
.sidebar .bx-search:hover {
  background: var(--sidebar-highlight);
  color: var(--sidebar-bg-dark);
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--sidebar-bg-dark);
}
.sidebar li a:hover {
  background: var(--sidebar-highlight);
}
.sidebar li a .links_name {
  color: var(--sidebar-highlight);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--sidebar-bg-dark);
}
.sidebar li .link {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--sidebar-bg-dark);
}
.sidebar li .link:hover {
  background: var(--sidebar-highlight);
}
.sidebar li .link .links_name {
  color: var(--sidebar-highlight);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li .link .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li .link:hover .links_name,
.sidebar li .link:hover i {
  transition: all 0.5s ease;
  color: var(--sidebar-bg-dark);
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: var(--sidebar-bg-light);
  transition: all 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar.open li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li .profile-details {
  display: none;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: var(--sidebar-highlight);
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--sidebar-bg-light);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: var(--sidebar-bg-dark);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
