.input {
    background: none;
    border: none;
    outline: none;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
    color: #fff;
  }
  .input::placeholder {
    font-size: 2rem;
  }
  .btn1 {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  .wrapper{

box-shadow:  20px 20px 60px #7d9c8e,
             -20px -20px 60px #bdd2c8;
  }