.input {
    background: none;
    border: none;
    outline: none;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
    color: #fff;
  }
  .input::placeholder {
    font-size: 2rem;
  }
  .btn1 {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  .wrapper{

box-shadow:  20px 20px 60px #7d9c8e,
             -20px -20px 60px #bdd2c8;
  }

  .icon-btn {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    right: 0.3em;
    transition: all 0.3s;
  }

  button:hover .icon-btn {
    width: calc(100% - 3rem);
    border-radius: 20rem;
  }

  .icon-btn svg {
    color: #156669;
    transition: transform 0.3s;

  }

  button:hover .icon-btn svg {
    transform: translateX(0.1em);
  }
  button:active .icon-btn {
    transform: scale(0.95);
  }